<a href="https://colab.research.google.com/github/rey-ese/beginning-bioinformatics/blob/main/Bioinformatics_Module03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print ("hello world")

hello world

In [ ]:
# Rosalind Task 1:
a=882
b=934
c=a**2+b**2
print ('a + b is', c)

a + b is 1650280

In [ ]:
a=int(input("enter a value for a:"))
print ("The value of a is", a)

enter a value for a:900
The value of a is 900

In [ ]:
name=input("Your name here: ")
print("Hello " + name)

Your name here: Manny
Hello Manny

In [ ]:
my_list=("Hello", "New Item", "World", "Alfred R. Wallace", "Charles Darwin")
print(my_list[2:4])

('World', 'Alfred R. Wallace')

In [ ]:
my_string="HelloWorldCharlesDarwinAlfred R. Wallace"
print(my_string[33:40],my_string[5:10])

Wallace World

In [ ]:
# Rosalind Task 2:
RT2_Dataset="4aTyElQD3XllccrybffdiJETrfxEOlzYoEuHmhibotNI63QxnWfpasqTYl0hkeFCardiocraniusoh4Q3rjDRTO3ydBX2ysoXqFLfkgb5NvMTcI2HJLwscincussn8loR4xfLDiC7esYhagR08Jx7TXvYrHDIzc."
print(RT2_Dataset[63:76], RT2_Dataset[116:123])

Cardiocranius scincus

In [ ]:
a=5
b=5
if a!=5:
  print(a-b)
else:
  print(a+b)

10

In [ ]:
a=1
while a<=3:
  print ("Counting!"*a)
  a+=1

Counting!
Counting!Counting!
Counting!Counting!Counting!

In [ ]:
names=["Alice","Bob","Charley"]
for name in names:
  print("Hello",name)

Hello Alice
Hello Bob
Hello Charley

In [ ]:
iterations=10
for number in range(iterations):
  print(number)

0
1
2
3
4
5
6
7
8
9

In [ ]:
x=range(9,28,3)
for number in x:
  print(number)

9
12
15
18
21
24
27

In [ ]:
x=0
integers=range(4514,9257)
for number in integers:
  if number%2==1:
    x+=number
  else:
    x+=0
print(x)

16324335

In [21]:
with open("Practice.txt", "r") as data:
  print(data.read())
  #print(data.readline())
  #print(data.readlines())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [22]:
with open("Practice.txt", "r") as data:
  list_of_lines=data.readlines()
print("".join(list_of_lines))
#print(list_of_lines)

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [26]:
with open("Practice.txt") as data:
  for line in data:
    #print(line, end="")
    print(line.rstrip())

Bravely bold Sir Robin rode forth from Camelot
Yes, brave Sir Robin turned about
He was not afraid to die, O brave Sir Robin
And gallantly he chickened out
He was not at all afraid to be killed in nasty ways
Bravely talking to his feet
Brave, brave, brave, brave Sir Robin
He beat a very brave retreat

In [69]:
x=0
with open("Practice.txt","r") as data:
  lines=data.readlines()
  for line in lines:
    if x%2==1:
      x+=1
    else:
      print(line)
      x+=1

Bravely bold Sir Robin rode forth from Camelot

He was not afraid to die, O brave Sir Robin

He was not at all afraid to be killed in nasty ways

Brave, brave, brave, brave Sir Robin

In [68]:
x=1
with open("Practice.txt","r") as data:
  lines=data.readlines()
  for line in lines:
    if x%2==1:
      x+=1
    else:
      print(line)
      x+=1

Yes, brave Sir Robin turned about

And gallantly he chickened out

Bravely talking to his feet

He beat a very brave retreat

In [80]:
x=1
with open("rosalind_ini5.txt","r") as data:
  lines=data.readlines()
  f=open("output.txt","w")
  for line in lines:
    if x%2==1:
      x+=1
    else:
      f.write(str(line)+"\n")
      x+=1
  f.close()